name: 24/7 Cricket Streamer

on:
  workflow_dispatch:
    inputs:
      target_url:
        description: 'Target Video Link (Auto Mode)'
        required: true
        default: 'https://dadocric.st/player.php?id=starsp3'
      stream_key:
        description: 'OK.ru Stream Key'
        required: true
        default: '13119160589931_11608765500011_jul3a4iaqa'
      proxy_ip:
        description: 'Proxy IP Address'
        required: true
        default: '31.59.20.176'
      proxy_port:
        description: 'Proxy Port'
        required: true
        default: '6754'
      proxy_user:
        description: 'Proxy Username'
        required: true
        default: 'fnhslzsx'
      proxy_pass:
        description: 'Proxy Password'
        required: true
        default: '4p7wbke3gw2e'
      manual_m3u8:
        description: '(OPTIONAL) Direct m3u8 Link'
        required: false
        default: ''
      manual_referer:
        description: '(OPTIONAL) Referer for Direct Link'
        required: false
        default: ''
      manual_origin:
        description: '(OPTIONAL) Origin for Direct Link'
        required: false
        default: ''
      manual_ffmpeg_cmd:
        description: '(CASE 2) Paste Full FFmpeg Command here'
        required: false
        default: ''

jobs:
  run-stream:
    runs-on: ubuntu-latest
    timeout-minutes: 360 # 6 Hours Limit

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Install System Tools & Fake Screen (Xvfb)
      run: |
        sudo apt-get update
        sudo apt-get install -y ffmpeg google-chrome-stable xvfb

    - name: Install Python Requirements
      run: |
        pip install selenium selenium-wire webdriver-manager blinker==1.7.0 "setuptools<70" requests

    - name: Start The Bot with Virtual Screen
      env:
        GH_PAT: ${{ secrets.GH_PAT }}
        GITHUB_REPOSITORY: ${{ github.repository }}
        GITHUB_REF_NAME: ${{ github.ref_name }}
        TARGET_URL: ${{ inputs.target_url }}
        STREAM_KEY: ${{ inputs.stream_key }}
        PROXY_IP: ${{ inputs.proxy_ip }}
        PROXY_PORT: ${{ inputs.proxy_port }}
        PROXY_USER: ${{ inputs.proxy_user }}
        PROXY_PASS: ${{ inputs.proxy_pass }}
        MANUAL_M3U8: ${{ inputs.manual_m3u8 }}
        MANUAL_REFERER: ${{ inputs.manual_referer }}
        MANUAL_ORIGIN: ${{ inputs.manual_origin }}
        MANUAL_FFMPEG_CMD: ${{ inputs.manual_ffmpeg_cmd }}
      run: xvfb-run --auto-servernum --server-args="-screen 0 1920x1080x24" python -u final_bot.py










# ===================== upper waley mei default full ffmpeg command ko teek karn hai =============




# name: 24/7 Cricket Streamer

# on:
#   workflow_dispatch:
#     inputs:
#       target_url:
#         description: 'Target Video Link (Auto Mode)'
#         required: true
#         default: 'https://dadocric.st/player.php?id=willowextra'
#       stream_key:
#         description: 'OK.ru Stream Key'
#         required: true
#         default: '11523921485458_10535073221266_x3wpukcvda'
#       proxy_ip:
#         description: 'Proxy IP Address'
#         required: true
#         default: '31.59.20.176'
#       proxy_port:
#         description: 'Proxy Port'
#         required: true
#         default: '6754'
#       proxy_user:
#         description: 'Proxy Username'
#         required: true
#         default: 'cjasfidu'
#       proxy_pass:
#         description: 'Proxy Password'
#         required: true
#         default: 'qhnyvm0qpf6p'
#       manual_m3u8:
#         description: '(OPTIONAL) Direct m3u8 Link (Blank = Auto)'
#         required: false
#         default: ''
#       manual_referer:
#         description: '(OPTIONAL) Referer for Direct Link'
#         required: false
#         default: ''
#       manual_origin:
#         description: '(OPTIONAL) Origin for Direct Link'
#         required: false
#         default: ''

# jobs:
#   run-stream:
#     runs-on: ubuntu-latest
#     timeout-minutes: 360 # 6 Hours Limit

#     steps:
#     - name: Checkout Code
#       uses: actions/checkout@v3

#     - name: Install System Tools & Fake Screen (Xvfb)
#       run: |
#         sudo apt-get update
#         sudo apt-get install -y ffmpeg google-chrome-stable xvfb

#     - name: Install Python Requirements
#       run: |
#         pip install selenium selenium-wire webdriver-manager blinker==1.7.0 "setuptools<70" requests

#     - name: Start The Bot with Virtual Screen
#       env:
#         GH_PAT: $ {{ secrets.GH_PAT }}
#         GITHUB_REPOSITORY: $ {{ github.repository }}
#         GITHUB_REF_NAME: $ {{ github.ref_name }}
#         TARGET_URL: $ {{ inputs.target_url }}
#         STREAM_KEY: $ {{ inputs.stream_key }}
#         PROXY_IP: $ {{ inputs.proxy_ip }}
#         PROXY_PORT: $ {{ inputs.proxy_port }}
#         PROXY_USER: $ {{ inputs.proxy_user }}
#         PROXY_PASS: $ {{ inputs.proxy_pass }}
#         MANUAL_M3U8: $ {{ inputs.manual_m3u8 }}
#         MANUAL_REFERER: $ {{ inputs.manual_referer }}
#         MANUAL_ORIGIN: $ {{ inputs.manual_origin }}
#       run: xvfb-run --auto-servernum --server-args="-screen 0 1920x1080x24" python -u final_bot.py









# ========= 2 upper waley mei key add kiya hai taaky github jab 6hour complete hu jaye to automaticte new 6 hour dee 


# name: 24/7 Cricket Streamer

# on:
#   workflow_dispatch:
#     inputs:
#       target_url:
#         description: 'Target Video Link (Auto Mode)'
#         required: true
#         default: 'https://dadocric.st/player.php?id=willowextra'
#       stream_key:
#         description: 'OK.ru Stream Key'
#         required: true
#         default: '11523921485458_10535073221266_x3wpukcvda'
#       proxy_ip:
#         description: 'Proxy IP Address'
#         required: true
#         default: '31.59.20.176'
#       proxy_port:
#         description: 'Proxy Port'
#         required: true
#         default: '6754'
#       proxy_user:
#         description: 'Proxy Username'
#         required: true
#         default: 'cjasfidu'
#       proxy_pass:
#         description: 'Proxy Password'
#         required: true
#         default: 'qhnyvm0qpf6p'
#       # --- NEW MANUAL FIELDS ---
#       manual_m3u8:
#         description: '(OPTIONAL) Direct m3u8 Link (Blank = Auto Bot)'
#         required: false
#         default: ''
#       manual_referer:
#         description: '(OPTIONAL) Referer for Direct Link'
#         required: false
#         default: ''
#       manual_origin:
#         description: '(OPTIONAL) Origin for Direct Link'
#         required: false
#         default: ''

# jobs:
#   run-stream:
#     runs-on: ubuntu-latest
#     timeout-minutes: 360 # 6 Hours Limit

#     steps:
#     - name: Checkout Code
#       uses: actions/checkout@v3

#     - name: Install System Tools & Fake Screen (Xvfb)
#       run: |
#         sudo apt-get update
#         sudo apt-get install -y ffmpeg google-chrome-stable xvfb

#     - name: Install Python Requirements
#       run: |
#         pip install selenium selenium-wire webdriver-manager blinker==1.7.0 "setuptools<70"

#     - name: Start The Bot with Virtual Screen
#       env:
#         TARGET_URL: ${{ inputs.target_url }}
#         STREAM_KEY: ${{ inputs.stream_key }}
#         PROXY_IP: ${{ inputs.proxy_ip }}
#         PROXY_PORT: ${{ inputs.proxy_port }}
#         PROXY_USER: ${{ inputs.proxy_user }}
#         PROXY_PASS: ${{ inputs.proxy_pass }}
#         MANUAL_M3U8: ${{ inputs.manual_m3u8 }}
#         MANUAL_REFERER: ${{ inputs.manual_referer }}
#         MANUAL_ORIGIN: ${{ inputs.manual_origin }}
#       run: xvfb-run --auto-servernum --server-args="-screen 0 1920x1080x24" python -u final_bot.py



















































































































































# ============ 100% good =================================

# name: 24/7 Cricket Streamer

# on:
#   workflow_dispatch:
#     inputs:
#       target_url:
#         description: 'Target Video Link'
#         required: true
#         default: 'https://dadocric.st/player.php?id=willowextra'
#       stream_key:
#         description: 'OK.ru Stream Key'
#         required: true
#         default: '11523921485458_10535073221266_x3wpukcvda'
#       proxy_ip:
#         description: 'Proxy IP Address'
#         required: true
#         default: '31.59.20.176'
#       proxy_port:
#         description: 'Proxy Port'
#         required: true
#         default: '6754'
#       proxy_user:
#         description: 'Proxy Username'
#         required: true
#         default: 'cjasfidu'
#       proxy_pass:
#         description: 'Proxy Password'
#         required: true
#         default: 'qhnyvm0qpf6p'

# jobs:
#   run-stream:
#     runs-on: ubuntu-latest
#     timeout-minutes: 360 # 6 Hours Limit

#     steps:
#     - name: Checkout Code
#       uses: actions/checkout@v3

#     - name: Install System Tools & Fake Screen (Xvfb)
#       run: |
#         sudo apt-get update
#         sudo apt-get install -y ffmpeg google-chrome-stable xvfb

#     - name: Install Python Requirements
#       run: |
#         pip install selenium selenium-wire webdriver-manager blinker==1.7.0 "setuptools<70"

#     - name: Start The Bot with Virtual Screen
#       env:
#         # ⚠️ YAHAN GITHUB INPUTS KO PYTHON VARIABLES MEIN BHEJA JA RAHA HAI ⚠️
#         TARGET_URL: $ {{ inputs.target_url }}
#         STREAM_KEY: $ {{ inputs.stream_key }}
#         PROXY_IP: $ {{ inputs.proxy_ip }}
#         PROXY_PORT: $ {{ inputs.proxy_port }}
#         PROXY_USER: $ {{ inputs.proxy_user }}
#         PROXY_PASS: $ {{ inputs.proxy_pass }}
#       run: xvfb-run --auto-servernum --server-args="-screen 0 1920x1080x24" python -u final_bot.py








# ========= temporary fix with find link with proxy and when link find then use github default own (very good Alhamdullah) =======================



# name: 24/7 Cricket Streamer

# on:
#   workflow_dispatch:
#     inputs:
#       target_url:
#         description: 'Paste Link Here (Default: Dadocric Willow)'
#         required: true
#         default: 'https://dadocric.st/player.php?id=willowextra'

# jobs:
#   run-stream:
#     runs-on: ubuntu-latest
#     timeout-minutes: 360 # 6 Hours Limit

#     steps:
#     - name: Checkout Code
#       uses: actions/checkout@v3

#     - name: Install System Tools & Fake Screen (Xvfb)
#       run: |
#         sudo apt-get update
#         sudo apt-get install -y ffmpeg google-chrome-stable xvfb

#     - name: Install Python Requirements
#       run: |
#         pip install selenium selenium-wire webdriver-manager blinker==1.7.0 "setuptools<70"

#     - name: Start The Bot with Virtual Screen
#       env:
#         TARGET_URL: $ {{ inputs.target_url }}
#       # Yahan hum xvfb-run use kar rahe hain taake Chrome ko fake screen milay
#       run: xvfb-run --auto-servernum --server-args="-screen 0 1920x1080x24" python -u final_bot.py












































# ===============  100% correct =============================


# name: 24/7 Cricket Streamer

# on:
#   workflow_dispatch:
#     inputs:
#       target_url:
#         description: 'Paste CricHD Link Here (Default: Star Sports)'
#         required: true
#         default: 'https://crichdbest.com/player.php?id=starsp3'

# jobs:
#   run-stream:
#     runs-on: ubuntu-latest
#     timeout-minutes: 360 # 6 Hours Limit
#     # timeout-minutes: 900 # 15 Hours Limit

#     steps:
#     - name: Checkout Code
#       uses: actions/checkout@v3

#     - name: Install System Tools
#       run: |
#         sudo apt-get update
#         sudo apt-get install -y ffmpeg google-chrome-stable

#     - name: Install Python Requirements
#       run: |
#         pip install selenium selenium-wire webdriver-manager blinker==1.7.0 "setuptools<70"

#     - name: Start The Bot
#       env:
#         # Yeh line input ko Python mein bhejti hai
        # TARGET_URL: $ {{ inputs.target_url }}      <<<<============================ yeh line input ko Python mein bhejti hai( error yeh hai k varbile sai nahey hai )
#       run: python -u final_bot.py








































































# ========== 300% correct hai bot correct in action but humey is ko dynamic link dena hu website k url jaahaa par video player hai ===================




# name: 24/7 Cricket Streamer

# on:
#   workflow_dispatch:  # Matlab: Hum button dabayenge tab chalega

# jobs:
#   run-stream:
#     runs-on: ubuntu-latest
#     timeout-minutes: 360 # 6 Ghante baad ruk jayega

#     steps:
#     # 1. Hamara Code uthao
#     - name: Checkout Code
#       uses: actions/checkout@v3

#     # 2. Chrome aur FFmpeg install karo
#     - name: Install System Tools
#       run: |
#         sudo apt-get update
#         sudo apt-get install -y ffmpeg google-chrome-stable

#     # 3. Python Libraries install karo
#     - name: Install Python Requirements
#       run: |
#         pip install selenium selenium-wire webdriver-manager blinker==1.7.0 "setuptools<70"

#     # 4. Hamara Final Bot chalao
#     - name: Start The Bot
      # run: python final_bot.py
      # run: python -u final_bot.py